<div class="margintop30px"></div>

<h2><a href="/"><img src="/logo.png"></a></h2>
<div class="margintop20px"></div>
<div class="margin2">
  <h2>NEWS</h2>
  <div class="margintop20px"></div>
  <ul class="timeline">
    <li>
      <p class="timeline-date">2017年11月</p>
      <div class="timeline-content">
        <h3>Kampaiサービス開始</h3>
        <p>2ヶ月の製作・準備期間を経てサービスをローンチ</p>
      </div>
    </li>
  </ul>
</div>