<header>
    <h2>OSAKE<span style="color:#696969">IS</span>FUN</h2>
</header>


<main>
  <div class="margintop120px"></div>
  <div class="contents01">
    <div class="titleblock">
      <span style="font-size:140%;">こだわりのお酒</span><br>
      <p class="border">special make</p><br>
      <i class="fa fa-beer fa-3x"></i>
      <p class="read">いつもと違う特別な時間を</p>
      <p class="readcontents">いつもと違う時間を楽しむこと。お酒の物語を知ること。それはとても素敵な時間ではないでしょうか。Kampaiでそんな体験をしてみませんか。　</p>
    </div>
    <div class="mainimage">
      <img src="/top_osake.jpg">
    </div>
  </div>
  <div class="items">
    <ul class="items_ul">
      <li class="items_li">
        <a href="items/1">
        <img src="/img1.jpg" alt="">
        <p>福島県産のこだわりのお酒</p>
        </a>
      </li>
      <li class="items_li">
        <a href="items/1">
        <img src="/img2.jpg" alt="">
        <p>その歴史は1000年以上</p>
        </a>
      </li>
      <li class="items_li">
        <a href="items/2">
        <img src="/img3.jpg" alt="">
        <p>幻のお酒</p>
        </a>
      </li>
      <li class="items_li">
        <a href="items/2">
        <img src="/img4.jpg" alt="">
        <p>飲みやすいまろやかな味</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="clearfix"></div>
  <div class="margintop120px"></div>
  <div class="contents02">
    <div class="titleblock2">
      <span style="font-size:140%">こだわりを送る</span><br>
      <p class="border">for present</p><br>
      <i class="fa fa-gift fa-3x"></i>
      <p class="read">こだわり×プレゼント</p>
      <p class="readcontents">こだわりのお酒は贈り物にも。愛が伝わるプレゼント。</p>
    </div>
    <div class="mainimage2">
      <img src="/top_gift.jpg">
    </div>
  </div>
  
  <!--ピックアップ-->
  <div class="margintop120px"></div>
  <h4 class="pickup">pickup商品</h3>
<div class="item_wrapper">
    <div id="top"></div>
    <section class="gallery">
    	<div class="row">
    		<ul>
    			<a href="#" class="close"></a>
    			<li>
    				<a href="#item01">
    					<img src="/img1.jpg" alt="">
    				</a>
    			</li>
    			<li>
    				<a href="#item02">
    					<img src="/img2.jpg" alt="">
    				</a>
    			</li>
    			<li>
    				<a href="#item03">
    					<img src="/img3.jpg" alt="">
    				</a>
    			</li>
    			<li>
    				<a class="image" href="#item04">
    					<img src="/img4.jpg" alt="">
    				</a>
    			</li>
    			<li>
    				<a class="image" href="#item05">
    					<img src="/img5.jpg" alt="">
    				</a>
    			</li>
    			<li>
    				<a class="image" href="#item06">
    					<img src="/img6.jpg" alt="">
    				</a>
    			</li>
    			<li>
    				<a class="image" href="#item07">
    				  <img src="/img7.jpg" alt="">
    				</a>
    			</li>
    			<li>
    				<a class="image" href="#item08">
    					<img src="/img8.jpg" alt="">
    				</a>
    			</li>
    		</ul>
    	</div> <!-- / row -->
   <div class="clearfix"></div>

    	<!-- Item 01 -->
    	<div id="item01" class="port">
    		<div class="row">
    			<div class="description">
    				<h1>清酒</h1>
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
    				<br><a href="/items/1">もっと見る　></a>
    			</div>
    			<img src="/img1.jpg" alt="">
    		</div> <!-- / row -->
    	</div> <!-- / Item 01 -->
    
    	<!-- Item 02 -->
    	<div id="item02" class="port">
    		<div class="row">
    			<div class="description">
    				<h1>久保田</h1>
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
    			  <br><a href="/items/2">もっと見る　></a>
    			</div>
    			<img src="/img2.jpg" alt="">
    		</div> <!-- / row -->
    	</div> <!-- / Item 02 -->
    	
    	<!-- Item 03 -->
    	<div id="item03" class="port">
    		<div class="row">
    			<div class="description">
    				<h1>酒々井の夜明け</h1>
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
    				<br><a href="/items/1">もっと見る　></a>
    			</div>
    			<img src="/img3.jpg" alt="">
    		</div> <!-- / row -->
    	</div> <!-- / Item 03 -->
    	
    	<!-- Item 04 -->
    	<div id="item04" class="port">
    		<div class="row">
    			<div class="description">
    				<h1>酒々井の夜明け</h1>
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
    				<br><a href="/items/1">もっと見る　></a>
    			</div>
    			<img src="/img4.jpg" alt="">
    		</div> <!-- / row -->
    	</div> <!-- / Item 04 -->
    	
    	<!-- Item 05 -->
    	<div id="item05" class="port">
    		<div class="row">
    			<div class="description">
    				<h1>果実酒詰め合わせ</h1>
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
    				<br><a href="/items/1">もっと見る　></a>
    			</div>
    			<img src="/img5.jpg" alt="">
    		</div> <!-- / row -->
    	</div> <!-- / Item 05 -->
    	
    	<!-- Item 06 -->
    	<div id="item06" class="port">
    		<div class="row">
    			<div class="description">
    				<h1>和歌山の梅酒</h1>
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
    				<br><a href="/items/1">もっと見る　></a>
    			</div>
    			<img src="/img6.jpg" alt="">
    		</div> <!-- / row -->
    	</div> <!-- / Item 06 -->
    	
    	<!-- Item 07 -->
    	<div id="item07" class="port">
    		<div class="row">
    			<div class="description">
    				<h1>新鮮果実酒</h1>
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
    				<br><a href="/items/1">もっと見る　></a>
    			</div>
    			<img src="/img7.jpg" alt="">
    		</div> <!-- / row -->
    	</div> <!-- / Item 07 -->
    	
    	<!-- Item 08 -->
    	<div id="item08" class="port">
    		<div class="row">
    			<div class="description">
    				<h1>ビール</h1>
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
    				<br><a href="/items/1">もっと見る　></a>
    			</div>
    			<img src="/img8.jpg" alt="">
    		</div> <!-- / row -->
    	</div> <!-- / Item 08 -->
    	
    </section> <!-- / projects -->
</div>  
  <!--コンセプト-->
 <div class="concept">
    <img src="/logo.png">
    <h3>あなたの日々をちょっと良くする</h3>
    <div class="margintop20px"></div>
    <p>一つ一つ、作り手の愛で仕上げられたお酒たち。<br>
    特別な一杯を暮らしに添えて<br>
    何気ない日常を　心地よく　豊かに<br>
    お酒で、喜びを</p>
    <div class="margintop20px"></div>
    <p>Make your life be happy.<br>
    Liquor maked by man with love.
    Special liquor with your life.<br>
    comfortably and good.<br>
    Dorinking and joy.
    </p>
 </div>  
 <div class="margintop120px"></div>
 <div class="margintop60px"></div>
</main>

  
<script>
  // portfolio
  $('.gallery ul li a').click(function() {
    var itemID = $(this).attr('href');
    $('.gallery ul').addClass('item_open');
    $(itemID).addClass('item_open');
    return false;
  });
  $('.close').click(function() {
    $('.port, .gallery ul').removeClass('item_open');
    return false;
  });

  $(".gallery ul li a").click(function() {
    $('html, body').animate({
      scrollTop: parseInt($("#top").offset().top)
    }, 400);
  });
</script>
