<div class="margintop30px"></div>

<h2><a href="/"><img src="/logo.png"></a></h2>
<div class="margintop20px"></div>

<div class="contents_left">
<h2>特定商取引に基づく表示</h2>
<br>
<table class="type02">
			<tr>
				<th scope="row">販売業者名</th>
				<td>株式会社SUNCREA</td>
			</tr>
			<tr>
				<th>代表責任者名</th>
				<td>望月亮佑</td>
			</tr>
			<tr>
				<th>所在地</th>
				<td>〒214-0021　神奈川県川崎市多摩区宿河原1-19-30ライオンズマンション宿河原第二603</td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td>08042202582</td>
			</tr>
			<tr>
				<th>電話受付時間</th>
				<td>11：００～１８：００</td>
			</tr>
			<tr>
				<th>ホームページURL</th>
				<td></td>
			</tr>
			<tr>
				<th>販売価格</th>
				<td>各商品ページをご参照ください。</td>
			</tr>
			<tr>
				<th>商品代金以外の必要料金</th>
				<td>消費税</td>
			</tr>
			<tr>
				<th>送料</th>
				<td></td>
			</tr>
			<tr>
				<th>お届け時期</th>
				<td>入金確認後、直ちに商品を発送いたしますが1~2週間となります。</td>
			</tr>
			<tr>
				<th>お支払い方法</th>
				<td>クレジットカード</td>
			</tr>
			<tr>
				<th>返品・交換・キャンセル等</th>
				<td>商品発送後の返品・返却等はお受けいたしかねます。商品が不良の場合のみ交換いたします。キャンセルは直接ご連絡頂ければお受けする場合がございます。</td>
			</tr>
			<tr>
				<th>返品期限</th>
				<td>商品到着より７日以内にご連絡下さい。</td>
			</tr>
			<tr>
				<th>返品送料</th>
				<td>不良品の場合は弊社が負担いたします。それ以外はお客様のご負担となります。</td>
			</tr>
			
</table>
</div>
