<p>こんにちは <%= @resource.name %> さん</p>

<p>パスワード変更のリクエストがありました。下記のリンクをクリックしてパスワードを再設定できます。</p>

<p><%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし再設定に心当たりがない場合には、このメールは無視してください。</p>
<p>本人からのアクセスがないままパスワードが変更されることはありません。</p>
